.mini {
  width: 100px;
  border: 1px darkgray solid;
}
.cupcake_item_image {
  width: 100px;
  height: 118px;
  margin: 15px;
}
.cupcake_item {
  flex-flow: row wrap;
  align-items: flex-start;
}
.cupcake_name {
  margin-top: 10px;
}
.btn {
  margin-top: 10px
}
.buttons {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  align-self: center;
  margin: 10px;
  width: 200px;
}
.glyphicon-ok {
  color: green;
}
.glyphicon-remove {
  color: darkred;
}
