<div class="container">
  <div class="panel panel-default">
    <div class="loading" *ngIf="approvals.length == 0 && requests.length == 0">
      <div class="loader"></div>
    </div>
    <div class="approved-items">
      <h2>Requested: </h2>
      <div *ngFor="let request of requests">
        <div class="approved_item">
          <div class="cupcake_item">
            <div class="cupcake_item_image">
              <img class="absolute cupcake_image_head mini" src="{{ request.cupcake.imageHead }}" alt="LOL">
              <img class="absolute cupcake_image_body mini" src="{{ request.cupcake.imageBody }}" alt="LOL">
              <img class="absolute cupcake_image_eyes mini" src="{{ request.cupcake.imageEyes }}" alt="LOL">
              <img class="absolute cupcake_image_mouth mini" src="{{ request.cupcake.imageMouth }}" alt="LOL">
            </div>
            <div>
              <h2 class="cupcake_name">{{ request.cupcake.name }}</h2>
              <p><strong>tokenId: </strong> {{ request.tokenId }}</p>
              <p><strong>to: </strong> {{ request.to}}</p>
              <p><strong>value: </strong> {{ request.value}} ether</p>
              <p><strong>proccesed: </strong> {{ request.proccesed}}</p>
              <p *ngIf="request.proccesed == true"><strong>accepted: </strong> {{ request.approved}}</p>
            </div>
            <div class="buttons" *ngIf="request.approved && request.payed == false;else other_content">
              <button id="pay" type="button" class="btn btn-success" (click)="BuyCupcake(request)">Pay</button>
            </div>
            <ng-template #other_content>
            <div class="buttons glyphicon glyphicon-ok" *ngIf="request.approved && request.payed == true"></div>
            <div class="buttons glyphicon glyphicon-remove" *ngIf="request.approved == false && request.payed == false"></div>
          </ng-template>
          </div>
        </div>
      </div>
      <h2>Approve: </h2>
      <div *ngFor="let approval of approvals">
        <div class="approved_item" *ngIf="approval.approved == false && approval.proccesed == false">
          <div class="cupcake_item">
            <div class="cupcake_item_image">
              <img class="absolute cupcake_image_head mini" src="{{ approval.cupcake.imageHead }}" alt="LOL">
              <img class="absolute cupcake_image_body mini" src="{{ approval.cupcake.imageBody }}" alt="LOL">
              <img class="absolute cupcake_image_eyes mini" src="{{ approval.cupcake.imageEyes }}" alt="LOL">
              <img class="absolute cupcake_image_mouth mini" src="{{ approval.cupcake.imageMouth }}" alt="LOL">
            </div>
            <div>
              <h2 class="cupcake_name">{{ approval.cupcake.name }}</h2>
              <p><strong>tokenId: </strong> {{ approval.tokenId }}</p>
              <p><strong>to: </strong> {{ approval.to}}</p>
              <p><strong>value: </strong> {{ approval.value}} ether</p>
            </div>
            <div class="buttons">
              <button type="button" class="btn btn-success" (click)="acceptTrade(approval)">Accept</button>
              <button type="button" class="btn btn-danger" (click)="declineTrade(approval)">Decline</button>
            </div>
          </div>
        </div>
      </div>
      <h2>Approved: </h2>
      <div *ngFor="let approval of approvals">
        <div class="approved_item" *ngIf="approval.proccesed == true">
          <div class="cupcake_item">
            <div class="cupcake_item_image">
              <img class="absolute cupcake_image_head mini" src="{{ approval.cupcake.imageHead }}" alt="LOL">
              <img class="absolute cupcake_image_body mini" src="{{ approval.cupcake.imageBody }}" alt="LOL">
              <img class="absolute cupcake_image_eyes mini" src="{{ approval.cupcake.imageEyes }}" alt="LOL">
              <img class="absolute cupcake_image_mouth mini" src="{{ approval.cupcake.imageMouth }}" alt="LOL">
            </div>
            <div>
              <h2 class="cupcake_name">{{ approval.cupcake.name }}</h2>
              <p><strong>tokenId: </strong> {{ approval.tokenId }}</p>
              <p><strong>to: </strong> {{ approval.to}}</p>
              <p><strong>value: </strong> {{ approval.value}} ether</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
