/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.cupcake_item_image {
  position: relative;
  width: 250px;
  height: 297px;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}

.cupcake_image_head,
.cupcake_image_mouth,
.cupcake_image_eyes {
  z-index: 100;
}

.cupcake_image_head {
  z-index: 50;
}

.cupcake-items {
  flex-flow: row wrap;
  display: flex;
}

.cupcake_item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 0 10px 10px;
  margin: 0 10px 10px 0;
  border: 1px darkgray solid;
}
.panel-default{
  padding: 10px;
}
.market_buttons{
  width: 140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center
}
.market_button {
  margin: 0 10px 0 0;
}
.loading {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
