
.nav {
  display: flex;
  flex-flow: row wrap;
}
.account_info, .nav_items, .app-searchbox {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 10px;
}
.account_info {
  justify-content: space-between;
}
.account_info ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}
.account_info li {
  padding: 10px;
}
.nav_items {
  justify-content: center;
  background-color: white;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.nav_items a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: flex;
  margin: 0 20px 0 0;
  font-weight: bold;
}
.title {
  margin-top: 10px;
}
.title a {
  text-decoration: none;
}
.nav_items a:hover {
  color: #337ab7;
}
.hide {
  display: none;
}
.loading {
  width: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px red solid;
}
.loader {
  display: flex;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 20px;
  height: 20px;
  margin: 100px;

  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
