<div>
  <div class="nav">
    <div class="account_info">
      <h1 class="title"><a href="/">CupcakeFactory</a></h1>
      <ul>
        <li><strong>Provider:</strong> {{ providerName }}</li>
        <li><strong>account:</strong> {{ account }}</li>
        <li><strong>ether:</strong> {{ balance }}</li>
      </ul>
    </div>
<app-search-collection-address class="app-searchbox"></app-search-collection-address>

    <div class="nav_items navbar navbar-inverse">
      <a href="/">Create</a>
      <a href="/collection">Your Collection</a>
      <a href="/marketplace">Marketplace</a>
      <a href="/approvals">Approvals</a>
    </div>
  </div>
  <div class="container">
    <alert></alert>
  </div>
</div>
