<div class="container">
<h1>{{ title }}</h1>
  <div class="panel panel-default">
    <div class="loading" *ngIf="cupcakes.length == 0">
        <div class="loader"></div>
    </div>
    <div class="cupcake-items">
      <div *ngFor="let cupcake of cupcakes">
        <div class="cupcake_item" *ngIf="cupcake.tradable">
          <h2>{{ cupcake.name }}</h2>
          <p>{{ cupcake.idDecimal }}</p>
          <div class="cupcake_item_image">
            <img class="absolute cupcake_image_head" src="{{ cupcake.imageHead }}" alt="LOL">
            <img class="absolute cupcake_image_body" src="{{ cupcake.imageBody }}" alt="LOL">
            <img class="absolute cupcake_image_eyes" src="{{ cupcake.imageEyes }}" alt="LOL">
            <img class="absolute cupcake_image_mouth" src="{{ cupcake.imageMouth }}" alt="LOL">
          </div>
          <button *ngIf="title == 'Your Collection';else other_content" type="button" class="btn btn-success" (click)="putOnTradeMarket($event)" id="{{ cupcake.idDecimal }}">Sell on the market</button>
          <ng-template #other_content>
            <button type="button" class="btn btn-success" (click)="ApproveTrade($event)" id="{{ cupcake.idDecimal }}">Ask for trade</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
