.stylish-input-group .input-group-addon {
  background: white;
}
.stylish-input-group {
  width: 300px;
}
.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}
.stylish-input-group button {
  border: 0;
  background: transparent;
}
.searchbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 0 10px 0 0;
  width: 100%;
}
