<div class="searchbox">
  <form (submit)="onSubmit($event)" class="input-group stylish-input-group">
    <input [(ngModel)]="address" name="address" type="text" class="form-control" placeholder="Search">
    <span class="input-group-addon">
      <button type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </form>
</div>
