<div class="container">
<h1>Marketplace</h1>
  <div class="panel panel-default">
    <div class="loading" *ngIf="cupcakesMarket.length == 0">
        <div class="loader"></div>
    </div>
    <div class="cupcake-items">
      <div class="cupcake_item" *ngFor="let cupcake of cupcakesMarket">
        <h2>{{ cupcake.name }}</h2>
        <p>{{ cupcake.idDecimal }}</p>
        <div class="cupcake_item_image">
          <img class="absolute cupcake_image_head" src="{{ cupcake.imageHead }}" alt="LOL">
          <img class="absolute cupcake_image_body" src="{{ cupcake.imageBody }}" alt="LOL">
          <img class="absolute cupcake_image_eyes" src="{{ cupcake.imageEyes }}" alt="LOL">
          <img class="absolute cupcake_image_mouth" src="{{ cupcake.imageMouth }}" alt="LOL">
        </div>
        <div class="market_buttons">
          <button type="button" class="btn btn-success market_button" (click)="BuyCupcake($event)" id="{{ cupcake.idDecimal }}">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
