<div class="container">
  <h1>Create your cupcakes now!</h1>
  <div class="panel panel-default">
    <form (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="name" type="text" class="form-control" id="name" required name="name">
      </div>
      <div class="loading_create" >
        <input type="submit" value="Create cupcake" class="btn btn-success" />
        <div id="loader" class="loader loader_create hide"></div>
      </div>
    </form>
  </div>

  <div class="panel panel-default" *ngIf="cupcake !=null;">
    <div class="cupcake_item">
      <h2>{{ cupcake.name }}</h2>
      <div class="cupcake_item_image">
        <img class="absolute cupcake_image_head" src="{{ cupcake.imageHead }}" alt="LOL">
        <img class="absolute cupcake_image_body" src="{{ cupcake.imageBody }}" alt="LOL">
        <img class="absolute cupcake_image_eyes" src="{{ cupcake.imageEyes }}" alt="LOL">
        <img class="absolute cupcake_image_mouth" src="{{ cupcake.imageMouth }}" alt="LOL">
      </div>
    </div>
  </div>
</div>
